h1 {
    background-color: blue;
    border: 5px line black;
    text-align: center;
    font-size: 3em;
    color: white;
}

p {
background-color: red;
border: 1px line black;
text-align: center;
font-size: 1em;
color: white; 
}
img {
    width: 300px;
    height: 300px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
#testing :nth-of-type(1) {
    color: green;
}
body {
        text-align: center;
}
h2 {
    background-color: black;
border: 1px line black;
text-align: center;
font-size: 2em;
color: white; 
}

main {
    display:flex;
    justify-content: space-evenly;
}
section {
    width:50vw;
}
article {
    background-color: lightgray;
}

#water-board-title {
    font-size: 2.5em;
}
.right-section-p {
    background-color: lightblue;
    color: black;
}
.left-section-p {
    background-color: lightblue;
    color: black;
}
